body{
    font-family: 'Poppins', sans-serif;
    
    background-color: #fdfdfe;
}
.banner-first{
    background-image: url(images/Phone.png);
    
    background-size: contain;
    height: 100%;
}
#banner-main-text{
    color: #242f51;
    font-size: 80px;
    font-weight: 900;
    margin-bottom: 10px;
}
.paragraph{
    font-size: 20px;
    color: gray;
    margin-bottom: 60px;
}
a{
    text-decoration: none;
}
.button{
    background-color: #2500f9;
    border-radius: 30px;
    padding: 20px 50px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    
}
#banner-more{
    color: #2500f9;
    font-weight:700 ;
    font-size: 15px;
    margin-left: 20px;
}
#banner{
    padding: 0px;
    padding: 150px 0px 0px 180px;
}
h3{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 80px;
}
.company-icon{
    text-align: center;
    margin-bottom: 200px;
}
div img{
    margin-left: 70px;
}
.fiture-header{
    margin-left: 75px;
}
.fiture{
    color: #242f51;
    font-size: 40px;
}
.fiture-def{
    display: flex;
}
.fiture-icon{
    padding-top: 70px;
    margin-right: 30px; 
}
.fiture-h1{
    color: #f55767;
    margin-bottom: 5px;
}
.fiture-paragraph{
    color: grey;
}
.fiture-h1-color1{
    color: #2563ff;
}
.fiture-h1-color2{
    color: #40975f;
}
.fiture-main{

}
.fiture-section{
    background-image: url(images/Group\ 90.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 100px;
}
.fiture-align{
    margin-left: 900px;
}
.content-one{
    margin-bottom: 150px;
    
}
.content-h1{
    color: #242f51;
    font-weight: 900;
    font-size: 50px;
    padding-right: 80px;
    border-right:3px solid gray ;
    line-height: 100%;
}
.contant-paragraph{
    color: gray;
    font-size: 20px;
}
#contant-paragraph{
    padding-left: 80px;
    margin-top: 70px;
}
.contant-one-header{
    display: flex;
    margin-left: 250px;
    margin-bottom: 110px;
}
.contant-one-img{
    margin: 0px;
    padding: 0px;
}
.contant-one-main{
    display: flex;
    margin-left: 250px;
}
.contant-one-child{
    margin-left: 200px;
}
.contant-two{
    display: flex;
    margin-bottom: 150px;
}
.contant-two img{
    margin-left: 200px;
}
.content-two-h1{
    color: #242f51;
    font-weight: 900;
    font-size: 50px;
    line-height: 100%;
    margin-top: 110px;
}
.contant-two-dis{
    margin-left: 150px;
}
#contant-two-paragaph{
    margin-bottom: 60px;
}
.contant-three-h1{
    color: #242f51;
    font-weight: 900;
    font-size: 35px;
    padding-right: 80px;
    line-height: 100%;
    text-align: center;
}
#contant-three-p{
    text-align: center;
}
.contant-three-row{
    margin-bottom: 150px;
}
.contant-three-parent{
    display: flex;
    margin-left: 380px;
}
#contant-three-parent{
    margin-bottom: 50px;
}
.contant-three-child{
    text-align: center;
    margin-left: 66px;
}
.contant-three-child-img{
    margin-left: 10px;
}
.ontant-three-child-h1{
   color: #242f51; ;
}
.contant-three{
    margin-bottom: 150px;
}
.four-contant-img{
    margin-left: 0px;
}
.contant-four-doc{
    margin: 0px 0px 50px 250px;
}
.four-contan-h1{
    color: #242f51;
    font-weight: 900;
    font-size: 20px;
    line-height: 100%;
    

}
.flex{
    display: flex;
    margin-left: 170px;
    margin-bottom: 40px;
}
.flex-item{
    margin-left: 80px;
}
.four-main-div{
    display: flex;
}
#contant-four-buttom{
    margin-left: 255px;
}
#sub1{
    position: relative;
    
}
#sub2{
    position: relative;
    top: -700px;
    padding-left: 250px;
    
    
}
.contant-paragraph2{
    color: gray;
    font-size: 15px;
    line-height: 15px;
}